<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens</title>
</head>
<body>

    <%- include ('../partials/header.ejs') %>

    <div id="container">

        <%- include ("../partials/msg.ejs") %>
        <h1>Lista de Postagens</h1>
        
        <%for(let i = 0;i<postagem.length;i++){%>
            <div class="box">
                <h4><%=postagem[i].titulo%></h4>
                <p>Slug:<%=postagem[i].slug%></p>
                <p>descricao:<%=postagem[i].descricao%></p>
                <p>conteudo:<%=postagem[i].conteudo%></p>
                <br>
                <a href='/admin/postagens/edit/<%=postagem[i].id%>'>
                    <button>Editar</button>
                </a>
                <form action="/admin/postagem/deletar" method="post">
                    <input type="hidden" name="id" value="<%=postagem[i].id%>">
                    <button type="submit">Deletar postagem</button>
                </form>
                
            </div>
        <%}%>
        
        <a href="/admin/postagens/add">
            <button>Nova Postagem</button>
        </a>

    </div>

</body>
</html>